@import url(//db.onlinewebfonts.com/c/06d1b1518a180e5a9cca2c23401ec40a?family=Circular+Std+Bold);
@import url(//db.onlinewebfonts.com/c/809eb889c78777517a6d252fd1f76eac?family=Circular+Air+Light);

@font-face {
    font-family: "Circular Std Bold";
    src: url("//db.onlinewebfonts.com/t/06d1b1518a180e5a9cca2c23401ec40a.eot");
    src: url("//db.onlinewebfonts.com/t/06d1b1518a180e5a9cca2c23401ec40a.eot?#iefix") format("embedded-opentype"),
         url("//db.onlinewebfonts.com/t/06d1b1518a180e5a9cca2c23401ec40a.woff2") format("woff2"),
         url("//db.onlinewebfonts.com/t/06d1b1518a180e5a9cca2c23401ec40a.woff") format("woff"),
         url("//db.onlinewebfonts.com/t/06d1b1518a180e5a9cca2c23401ec40a.ttf") format("truetype"),
         url("//db.onlinewebfonts.com/t/06d1b1518a180e5a9cca2c23401ec40a.svg#Circular Std Bold") format("svg");
} 

@font-face {
    font-family: "Circular Air Light";
    src: url("//db.onlinewebfonts.com/t/809eb889c78777517a6d252fd1f76eac.eot");
    src: url("//db.onlinewebfonts.com/t/809eb889c78777517a6d252fd1f76eac.eot?#iefix") format("embedded-opentype"),
         url("//db.onlinewebfonts.com/t/809eb889c78777517a6d252fd1f76eac.woff2") format("woff2"),
         url("//db.onlinewebfonts.com/t/809eb889c78777517a6d252fd1f76eac.woff") format("woff"),
         url("//db.onlinewebfonts.com/t/809eb889c78777517a6d252fd1f76eac.ttf") format("truetype"),
         url("//db.onlinewebfonts.com/t/809eb889c78777517a6d252fd1f76eac.svg#Circular Air Light") format("svg");
}

h1 {
    font-family: "Circular Std Bold";
    text-align: center;
    background-color: #88C0D0;
}

form {
    text-align: center;
}

input {
    font-family: "Circular Air Light";
}

p {
    font-family: "Circular Air Light";
}

.error {
    font-family: "Circular Air Light"
}